/**
 * Primary styles
 *
 * Author: 
 */

@import "normalize";


body {
	
	font-size: 10px;
	text-align: center;
}

#suggestion {
	padding: 150px 0;
	font-family: 'Lobster Two';
		font-size: 9.6em;
	}

	#links {
		margin: 20px 0;
		color: #666;
	}




#google {
	margin-top: 10px;
}