/**
 * Primary styles
 *
 * Author: 
 */

@import "normalize";


body {
	font-family: 'Lobster Two';
	font-size: 10px;
	text-align: center;
}

#main {
	padding: 150px 0;

	p {
		font-size: 9.6em;
	}
}